.card {
    width: 300px;
      height: 300px;
      display: flex;
      background-size: cover;
      float: left;
      border-radius: 15px;
      position: relative;
      overflow: hidden;
      background-position: center;
      margin: 10px;
      align-items: center;
      align-content: center;
    background-color: rgba(235, 145, 243, 0.74);
}

.image{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    position: absolute;
    align-items: center;
    top: 0;
    left: 0;
    opacity: 70%;
  }
.card:hover .card {
    opacity: 1;
    transform: scale(1);
}
.card img {
    object-fit: cover;
    transition: transform .8s ease;
}

.card:hover img {
    transform: scale(1.1);
}
.card img{
    transition: transform .8s ease;
    width: 100vh;
  }
  
  .card-top {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(1.3);
    opacity: 100%;
    transition: transform .4s ease 0s;
}


.card-top h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    color: rgb(236, 236, 236);
    font-family: 'Montserrat', sans-serif;
}

