footer { 
    display: flex;
    margin-right: 50%;
    align-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    height: 60px;
    color: white;
}

img {
    width: 3%;
    height: 2%;
    margin: 5px;
}

.footer_img {
    position: relative;
    left: 95%
}

.logoFacebook{
   width: 2%;
   height: 1%;
}


@media screen and (max-width: 870px) {
    img{
        width: 10%;
        height: 4%;
        margin-left: 10px;
    }
    .logoFacebook{
        width: 7%;
        height: 1%;
     }
}